.purple-theme {
    --navBackground: #9c27b0;
    --productTitle: #9c27b0;
}

.blue-theme {

    --navBackground: #3f51b5;
    --productTitle: #3f51b5;
}

.red-theme {
    --navBackground: #426ba4;
    --productTitle: #426ba4;
}

.violet-theme {
    --navBackground: #673ab7;
    --productTitle: #673ab7;
}


//TODO fix this
//--navBackground: var(--navBackground),
//--productTitle: var(--productTitle)
$variables: (
    --navBackground: #426ba4,
    --productTitle: #23426e,
    --alwaysButton: #426ba4,
    --mainButton: #23426e,
    --featureButton: #426ba4
);
