<br>
<div class="container" *ngIf="cartProducts.length > 0">
  <div class="row">

    <div class="a-results__body content all col-8">
        <section class="h-card h-card--test js-card-item" data-category="test" style="display: flex;"
        *ngFor="let product of cartProducts">
          <a class="h-card__link" title="{{ product.productName }}"></a>
          <div class="h-card__inner">
            <div class="h-card__col _name">
              <div class="h-card__title">
                <span class="h-card__category cat-test text-uppercase">Исследование</span>
                <span class="h-card__code text-uppercase">{{ product.productCategory }}</span>
              </div>
              <h3 class="h-card__content">
                {{ product.productName }} </h3>
            </div>
            <div class="h-card__col _duration">
              <div class="h-card__title text-uppercase">Срок</div>
              <div class="h-card__content">
                {{ product.productQuatity }}
              </div>
            </div>

            <div class="h-card__col _buy" (click)="removeCartProduct(product)">
              <a href="javascript:void(0)" class="h-card__buy btn-rr js-add-to-cart " data-id="1229">
<!--                <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
                  <i class="fa fa-trash"></i>
<!--                </svg>-->
              </a>
            </div>
          </div>
        </section>
      </div>




    <div class="col-4">
      <app-cart-calculator [products]="cartProducts"></app-cart-calculator>
    </div>
  </div>
</div>
<div class="container" *ngIf="cartProducts.length === 0">
  <app-no-products-found [title]="messageTitle" [description]="messageDescription"></app-no-products-found>
</div>
