<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Упс!</h1>
        <h2>
          404 Страница не найдена</h2>
        <div class="error-details">

        </div>
        <div class="error-actions">
          <a href="/" class="btn btn-primary btn-lg" style="border-color: #23426e; background: #ffffff; color: #23426e;">
            <span class="glyphicon glyphicon-home"></span>
            Главная </a>
          <a href="/" class="btn btn-success btn-lg" style="background: #23426e; border-color: #23426e;">
            <span class="glyphicon glyphicon-envelope"></span> Поддержка </a>
        </div>
      </div>
    </div>
  </div>
</div>
