<br>
<div class="container">
  <!--<div class="row" *ngIf="authService.isAdmin()">-->
  <!--<div class="col-sm">-->
  <!--<div class="float-right">-->
  <!--<button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#exampleModalLong">-->
  <!--Добавить анализ-->
  <!--</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <div class="row">


    <div class="a-search content">
      <form action="analizy-i-tseny" class="js-form" method="POST">

        <div class="a-search__main">
          <input
            class="a-search__main-input js-search-input"
            type="search"
            name="filter[term]"
            value="{{ searchQ }}"
            placeholder="Поиск по анализам"
            autocomplete="off"
            maxlength="100"
          >
          <ul class="search__result js-search-result _blured hide">
            <li class="js-empty"></li>
          </ul>
          <div class="a-search__main-select-wr show-on-desktop">
<!--            _state_active-->
            <div
              class="a-search__main-select show-on-desktop js-drop-trigger"
              data-drop-title="Анализы по разделам"
              data-state="groups"
            >
              <span>Анализы по разделам</span>
            </div>
          </div>
          <button class="a-search__main-btn btn" type="submit" name="filter[submit]"><span class="sr">Поиск</span>
          </button>
          <button class="a-search__filters-trigger btn hide-on-desktop js-filter-trigger" type="button" name="filters">
            Фильтры
          </button>
        </div>

        <div class="a-search__filters-wr show-on-desktop">
          <div class="a-filter js-filter">

            <div class="a-filter__header">
              Фильтры
              <div class="a-filter__close js-filter-trigger"></div>
            </div>

            <div class="a-filter__drop-container">
<!--              <div class="a-dropdown js-dropdown _state_active _state_diseases">-->
<!--              <div class="a-dropdown js-dropdown _state_active _state_groups">-->
              <div class="a-dropdown js-dropdown">
                <div class="a-dropdown__title js-dropdown-title js-drop-trigger" data-drop-title=""
                     data-state="organs">Анализы по разделам</div>
                <div class="a-dropdown__wrapper js-dropdown-wrap">
                  <div class="js-dropdown-scroll">


                    <div class="a-dropdown__content _state_diseases" data-state="diseases">
                      <div class="a-dropdown__col">
                        <div class="a-dropdown__item "
                             onclick="ga('send', 'event', 'catalog', 'diseases', 'TORCH-инфекции')">
                          <div class="a-checkbox"><input class="a-checkbox__input" type="checkbox" data-par=""
                                                         name="filter[diseases][38]" value="38" id="diseases-38"><label
                            class="a-checkbox__label js-checkbox-label" data-text-name="TORCH-инфекции"
                            for="diseases-38"><span>TORCH-инфекции</span></label></div>
                          <div style='clear:both'></div>
                        </div>
                      </div>
                      <div class="a-dropdown__col">
                        <div class="a-dropdown__item " onclick="ga('send', 'event', 'catalog', 'diseases', 'Диарея')">
                          <div class="a-checkbox"><input class="a-checkbox__input" type="checkbox" data-par=""
                                                         name="filter[diseases][37]" value="37" id="diseases-37"><label
                            class="a-checkbox__label js-checkbox-label" data-text-name="Диарея" for="diseases-37"><span>Диарея</span></label>
                          </div>
                          <div style='clear:both'></div>
                        </div>
                      </div>
                    </div>

                    <div class="a-dropdown__content _state_groups" data-state="groups">
                      <div class="a-dropdown__col">
                        <div class="a-dropdown__item par"
                             onclick="ga('send', 'event', 'catalog', 'groups', 'Алергология. ImmunoCAP. Индивидуальные аллергены, IgE')">
                          <div class="a-checkbox"><input class="a-checkbox__input" type="checkbox" data-par=""
                                                         name="filter[groups][1920]" value="1920"
                                                         id="groups-1920"><label
                            class="a-checkbox__label js-checkbox-label"
                            data-text-name="Алергология. ImmunoCAP. Индивидуальные аллергены, IgE"
                            for="groups-1920"><span>Алергология. ImmunoCAP. Индивидуальные аллергены, IgE</span><span
                            class='chevron _sgs' data-group='1920'></span></label></div>
                          <div style='clear:both'></div>
                        </div>
                      </div>
                      <div class="a-dropdown__col">
                        <div class="a-dropdown__item par"
                             onclick="ga('send', 'event', 'catalog', 'groups', 'Гормоны биологических жидкостей')">
                          <div class="a-checkbox"><input class="a-checkbox__input" type="checkbox" data-par=""
                                                         name="filter[groups][1952]" value="1952"
                                                         id="groups-1952"><label
                            class="a-checkbox__label js-checkbox-label" data-text-name="Гормоны биологических жидкостей"
                            for="groups-1952"><span>Гормоны биологических жидкостей</span><span class='chevron _sgs'
                                                                                                data-group='1952'></span></label>
                          </div>
                          <div style='clear:both'></div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>

            <div class="a-filter__wrapper">
              <div class="a-filter__group hide-on-desktop">
                <div
                  class="a-filter__drop js-drop-trigger"
                  data-drop-title="Анализы по разделам"
                  data-state="groups"
                >
                  <span>Анализы по разделам</span>
                </div>
              </div>

              <div class="a-filter__group">
<!--            _state_active-->
                <div
                  class="a-filter__drop js-drop-trigger"
                  data-drop-title="Все заболевания"
                  data-state="diseases"
                >
                  <span>Все заболевания</span>
                </div>
              </div>
              <button type="reset" class="a-filter__reset btn js-filter-reset">
                Очистить фильтры
              </button>
              <a href="javascript:void(0);" class="a-filter__show btn btn--violent js-filter-trigger">
                <span class="js-filter-trigger-text">Ничего не найдено</span>
                <span class="js-filter-counter"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="a-search__row _reset show-on-desktop js-filter-reset _state_active">
          <button type="reset" name="filter[reset]" class="a-search__reset">Сбросить фильтры</button>
        </div>
      </form>
    </div>

    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="brand_select">По категориям:</label>
          <select class="form-control" name="" id="brand_select" [(ngModel)]="selectedBrand">
            <option *ngFor="let brand of brands" [ngValue]="brand">{{brand}}</option>
          </select>
        </div>
        <!--<ul class="list-group">-->
        <!--<li class="list-group-item">Cras justo odio</li>-->
        <!--<li class="list-group-item">Dapibus ac facilisis in</li>-->
        <!--<li class="list-group-item">Morbi leo risus</li>-->
        <!--</ul>-->
      </div>
      <div class="col-md-9">

        <div class="container">
          <app-card-loader [loop]="3" [height]="800" *ngIf="loading"></app-card-loader>
          <div class="row" *ngIf="!loading">
            <!-- List of Products -->
            <div class="col-sm-4 mb-2"
                 *ngFor="let product of productList | filterByBrand: selectedBrand | paginate: { itemsPerPage: 6, currentPage: page }">
              <div class="item">
                <div class=" mb-r">
                  <!--Card-->
                  <div class="card border shadow card-cascade wider">
                    <!--Card image-->
                    <a [routerLink]="['/products/product', product.$key]">
                      <div class="view overlay hm-white-slight">
                        <img [src]="product.productImageUrl" class="img-fluid" alt="" width="360px" height="640px">
                        <a>
                          <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                        </a>
                      </div>
                    </a>
                    <!--/.Card image-->
                    <!--Card content-->
                    <div class="card-body text-center no-padding">
                      <!--Category & Title-->
                      <a class="text-muted">
                        <h5>{{ product.productCategory }}</h5>
                      </a>
                      <p class="card-title">
                        <strong>
                          <a [routerLink]="['/products/product', product.$key]" routerLinkActive="router-link-active">{{
                            product.productName }}</a>
                        </strong>
                      </p>
                      <!--Description-->
                      <p class="card-text">{{ product.productDescription }}
                      </p>
                      <!--Card footer-->
                      <div class="card-footer">
                        <span class="left">{{ product.productPrice }} ₽</span>
                        <span class="right">
                        <a placement="top" mdbTooltip="Добавить в избранное" container="body"
                           (click)="addFavourite(product)">
                          <i class="fa fa-heart"></i>
                        </a>
                        <a placement="top" mdbTooltip="Добавить в корзину" container="body"
                           (click)="addToCart(product)">
                          <i class="fa fa-shopping-cart"></i>
                        </a>
                          <!--<a placement="top" mdbTooltip="Удалить" container="body" *ngIf="authService.isAdmin()"-->
                          <!--(click)="removeProduct(product.$key)">-->
                          <!--<i class="fa fa-trash"></i>-->
                          <!--</a>-->
                      </span>
                      </div>

                    </div>
                    <!--/.Card content-->

                  </div>
                  <!--/.Card-->

                </div>
              </div>
            </div>
          </div>
          <!-- Pagination -->
          <div class="text-center mt-3">
            <pagination-controls (pageChange)="page = $event" [nextLabel]="'Вперед'"
                                 [previousLabel]="'Назад'"></pagination-controls>
          </div>
        </div>
        <!--/.Card-->
      </div>
    </div>
  </div>
  <app-add-product></app-add-product>
