<!-- Carousel -->
<div class="cover-container" style="background: #426ba4;">
  <!--Carousel Wrapper-->
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" style="height: 89vh;" src="../../assets/banner_img/img_5.png" alt="First slide">
          <div class="mask rgba-black-light" style="  display: flex;
  justify-content: center;
  align-items: center;">

            <div class="search__wrapper">
              <h1 class="title title--white title--small search__ttl"><span>Простой поиск анализов</span></h1>
              <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
                <div class="search__all">
                  <input
                    [(ngModel)]="searchTerm"
                    class="search__input js-search-input"
                    type="text"
                    name="term"
                    value="{{ searchTerm }}"
                    placeholder="Введите название анализа"
                    autocomplete="off"
                    maxlength="100"
                    formControlName="term"
                  >
                  <button class="search__btn" type="submit" name="button"></button>
                </div>
              </form>

              <ul class="search__result js-search-result" style="display: none !important;">
                <li class="js-empty"></li>
              </ul>

              <div class="search__txt hide-on-mobile">
                <span>Например, </span> <a href="javascript:;;" [routerLink]="[ 'products/all-products' ]" [queryParams]="{q:'диабет'}" class="js-add-to-search">диабет</a>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Проверься уже сегодня</h3>
          <p>Здоровье - это высшее счастье для любого человека</p>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" style="height: 89vh;" src="../../assets/banner_img/img_7.png" alt="Third slide">
                    <div class="mask rgba-black-light" style="  display: flex;
  justify-content: center;
  align-items: center;">

            <div class="search__wrapper">
              <h1 class="title title--white title--small search__ttl"><span>Простой поиск анализов</span></h1>
              <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
                <div class="search__all">
                  <input
                    [(ngModel)]="searchTerm"
                    class="search__input js-search-input"
                    type="text"
                    name="term"
                    value="{{ searchTerm }}"
                    placeholder="Введите название анализа"
                    autocomplete="off"
                    maxlength="100"
                    formControlName="term"
                  >
                  <button class="search__btn" type="submit" name="button"></button>
                </div>
              </form>

              <ul class="search__result js-search-result" style="display: none !important;">
                <li class="js-empty"></li>
              </ul>

              <div class="search__txt hide-on-mobile">
                <span>Например, </span> <a href="javascript:;;" [routerLink]="[ 'products/all-products' ]" [queryParams]="{q:'диабет'}" class="js-add-to-search">диабет</a>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Наши партнеры</h3>
          <p>KDL, CMD и другие лаборатории</p>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" style="height: 89vh;" src="../../assets/banner_img/img_6.png" alt="Third slide">
                    <div class="mask rgba-black-light" style="  display: flex;
  justify-content: center;
  align-items: center;">

            <div class="search__wrapper">
              <h1 class="title title--white title--small search__ttl"><span>Простой поиск анализов</span></h1>
              <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
                <div class="search__all">
                  <input
                    [(ngModel)]="searchTerm"
                    class="search__input js-search-input"
                    type="text"
                    name="term"
                    value="{{ searchTerm }}"
                    placeholder="Введите название анализа"
                    autocomplete="off"
                    maxlength="100"
                    formControlName="term"
                  >
                  <button class="search__btn" type="submit" name="button"></button>
                </div>
              </form>

              <ul class="search__result js-search-result" style="display: none !important;">
                <li class="js-empty"></li>
              </ul>

              <div class="search__txt hide-on-mobile">
                <span>Например, </span> <a href="javascript:;;" [routerLink]="[ 'products/all-products' ]" [queryParams]="{q:'диабет'}" class="js-add-to-search">диабет</a>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Цена имеет значение</h3>
          <p>Качественные анализы по лучшим ценам</p>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Сюда</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Туда</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
  <br>
<!--  <app-best-product></app-best-product>-->
</div>
